docker run --name shardsvr01 -d --network mongodb_ov_net  -v /home/mongodb/data/sh/shardsvr01:/data/db mongo --shardsvr --replSet "rs_shardsvr0"  --bind_ip_all 
docker run --name shardsvr11 -d --network mongodb_ov_net  -v /home/mongodb/data/sh/shardsvr11:/data/db mongo --shardsvr --replSet "rs_shardsvr1"  --bind_ip_all 
docker run --name shardsvr21 -d --network mongodb_ov_net  -v /home/mongodb/data/sh/shardsvr21:/data/db mongo --shardsvr --replSet "rs_shardsvr2"  --bind_ip_all 

