#docker run --name shardsvr01 -d --network mongodb_ov_net  -v /home/mongodb/data/sh/shardsvr01:/data/db mongo --shardsvr --replSet "rs_shardsvr0"  --bind_ip_all 
#docker run --name shardsvr11 -d --network mongodb_ov_net  -v /home/mongodb/data/sh/shardsvr11:/data/db mongo --shardsvr --replSet "rs_shardsvr1"  --bind_ip_all 
#docker run --name shardsvr21 -d --network mongodb_ov_net  -v /home/mongodb/data/sh/shardsvr21:/data/db mongo --shardsvr --replSet "rs_shardsvr2"  --bind_ip_all 

docker run --name shardsvr01 -d -v /home/mongodb/conf/mongod_shard1.conf:/data/db/mongod.conf -v /home/mongodb/testKeyFile.file:/data/db/key.file -v /home/mongodb/log/sh/shardsvr01/shards.log:/data/db/log/shards.log -v /home/mongodb/data/sh/shardsvr01:/data/db mongo  --config /data/db/mongod.conf
docker run --name shardsvr11 -d -v /home/mongodb/conf/mongod_shard1.conf:/data/db/mongod.conf -v /home/mongodb/testKeyFile.file:/data/db/key.file -v /home/mongodb/log/sh/shardsvr11/shards.log:/data/db/log/shards.log -v /home/mongodb/data/sh/shardsvr11:/data/db mongo  --config /data/db/mongod.conf
docker run --name shardsvr21 -d -v /home/mongodb/conf/mongod_shard1.conf:/data/db/mongod.conf -v /home/mongodb/testKeyFile.file:/data/db/key.file -v /home/mongodb/log/sh/shardsvr21/shards.log:/data/db/log/shards.log -v /home/mongodb/data/sh/shardsvr21:/data/db mongo  --config /data/db/mongod.conf

